Repository farhan-ahmed1/_tencoder: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

update readme
  README.md
Due: prettier --write

day-2: backend skeleton (api)
  apps/api/.eslintrc.js
  apps/api/jest.config.js
  apps/api/package.json
  apps/api/prisma/dev.db
  apps/api/prisma/dev.db-journal
  apps/api/prisma/migrations/20250827010052_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/prisma/schema.prisma
  apps/api/src/__tests__/health.test.ts
  apps/api/src/__tests__/setup.ts
  apps/api/src/__tests__/teardown.ts
  apps/api/src/config.ts
  apps/api/src/database.ts
  apps/api/src/errorHandler.ts
  apps/api/src/server.ts
  apps/api/tsconfig.json
  apps/api/tsconfig.test.json
  packages/analyzer/tsconfig.tsbuildinfo
  packages/core/tsconfig.tsbuildinfo
  packages/planner/tsconfig.tsbuildinfo
  packages/ui/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

gitignore: add database files and TypeScript build cache
  .gitignore
Due: none

day-3: frontend skeleton (web)
  apps/api/tsconfig.tsbuildinfo
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/board/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/settings/page.tsx
  apps/web/src/components/api-status.tsx
  apps/web/src/components/navigation.tsx
  apps/web/src/lib/config.ts
  apps/web/src/lib/utils.ts
  apps/web/tailwind.config.js
  apps/worker/tsconfig.tsbuildinfo
  packages/ui/package.json
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/index.tsx
  packages/ui/src/utils.ts
  packages/ui/tsconfig.tsbuildinfo
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix: resolve CI build error with TypeScript module resolution
  .github/workflows/ci.yml
  apps/api/tsconfig.tsbuildinfo
  apps/web/src/app/board/page.tsx
  apps/web/tsconfig.tsbuildinfo
  apps/worker/tsconfig.tsbuildinfo
  package.json
  packages/analyzer/tsconfig.tsbuildinfo
  packages/core/tsconfig.tsbuildinfo
  packages/planner/tsconfig.tsbuildinfo
  packages/ui/tsconfig.tsbuildinfo
  tsconfig.json
  turbo.json
Due: prettier --write, eslint --fix

day-4: db schema & models
  apps/api/package.json
  apps/api/prisma/dev.db
  apps/api/prisma/dev.db-journal
  apps/api/prisma/migrations/20250827194132_update_db/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
  apps/api/src/routes.ts
  apps/api/src/server.ts
  apps/api/src/services.ts
  apps/web/src/app/board/page.tsx
  packages/analyzer/src/index.ts
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/schemas.ts
  packages/ui/src/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

day-5: prd ingestion
  apps/api/package.json
  apps/api/prisma/dev.db
  apps/api/src/routes.ts
  apps/api/src/server.ts
  apps/api/src/utils/markdown.ts
  apps/web/package.json
  apps/web/src/app/projects/[id]/prds/[prdId]/page.tsx
  apps/web/src/app/projects/[id]/prds/upload/page.tsx
  apps/web/src/app/projects/page.tsx
  apps/web/src/components/navigation.tsx
  pnpm-lock.yaml
  sample-prd.md
Due: prettier --write, eslint --fix

feat: implement project detail and projects listing pages with API integration
  apps/web/src/app/projects/[id]/page.tsx
  apps/web/src/app/projects/page.tsx
Due: prettier --write, eslint --fix

day-6: auth and multi-project basics
  .env.example
  apps/api/prisma/dev.db
  apps/api/prisma/migrations/20250828211140_add_auth_tables/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/config.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/routes.ts
  apps/web/package.json
  apps/web/src/app/api/auth/[...nextauth]/route.ts
  apps/web/src/app/auth/error/page.tsx
  apps/web/src/app/auth/signin/page.tsx
  apps/web/src/app/board/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/settings/page.tsx
  apps/web/src/components/auth-provider.tsx
  apps/web/src/components/navigation.tsx
  apps/web/src/components/project-provider.tsx
  apps/web/src/lib/auth.ts
  apps/web/src/lib/config.ts
  apps/web/src/middleware.ts
  pnpm-lock.yaml
  test-day6.md
Due: prettier --write, eslint --fix

feat: Day 7 - Polish & Documentation
  README.md
  apps/api/.env.example
  apps/web/.env.example
  apps/web/src/app/auth/error/page.tsx
  apps/web/src/app/not-found.tsx
  package.json
  packages/core/tsconfig.json
  turbo.json
Due: prettier --write, eslint --fix

fix(ci): add Prisma client generation step before typecheck
  .github/workflows/ci.yml
Due: none

fix: correct whitespace in success metrics for PRD ingestion documentation
  sample-prd.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  eslint --fix: ((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: apps/**/src/**/*.{js,jsx,ts,tsx})) or (any of: packages/**/src/**/*.{js,jsx,ts,tsx})
